* {
  margin: 0px;
  padding: 0px;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: inherit;
}
header {
  background-color: #ccc;
  position: fixed;
  width: 100%;
  z-index: 10;
}
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
header ul li {
  width: calc(100% / 4);
}
header ul li a {
  padding: 1rem 0px;
  width: 100%;
  display: inline-block;
}
header ul li:hover {
  background-color: aquamarine;
  color: blueviolet;
}
/*container------------------------*/
#container {
  width: 100%;
  height: 100vh;
}
#container section {
  width: 100%;
  height: 100%;
}
.page1 {
  background-color: aquamarine;
}
.page2 {
  background-color: rgb(116, 185, 58);
}
.page3 {
  background-color: rgb(105, 29, 168);
}
.page4 {
  background-color: rgb(255, 127, 223);
}
#container section {
  position: relative;
}
#container section h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: -50%;
}
